.scoreboard {
  background: white;
  border: 1px solid black;
  width: 99%;
  padding: 5px;
}
.highscore {
  width: 33%;
  position: relative;
}
.current {
  width: 300px;
  position: relative;
}
.collisions{
  width: 300px;
  position: relative;
}
.gameboard {
  margin: 20px;
  background: black;
  width: 99%;
}